extends ../base.pug 

block variables     
    - var template = 'home'

block content 

    .home
        .home__wrapper
            .home__container 
                .home__content__wrapper#canvass 
                    .home__content
                        .home__title__wrapper 
                            h1.home__title 
                                | FRAGA
                            p.home__position 
                                | Graphic designer
                        .home__cta 
                            button.home__link#home__link
                                | ENTERf
                            
            
                